In [498]:
import pandas as pd
import sql_functions as sf

In [499]:
schema = 'organic_africa' # UPDATE 'TABLE_SCHEMA' based on schema used in class 
engine = sf.get_engine()
    
all_farmes = {}

all_farmes['OGInfo__OGMB_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."OGInfo__OGMB_1"')
all_farmes['OG_Info__OGOrg_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."OG_Info__OGOrg_1"')
all_farmes['wc_info_bayoba_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_info_bayoba_1"')
all_farmes['wc_info__WCOrg_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_info__WCOrg_1"')

all_farmes['OG_Info_reserve__OGOrg_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."OG_Info_reserve__OGOrg_1"')

In [500]:
all_farmes['OGInfo__OGMB_1_df'] = all_farmes['OGInfo__OGMB_1_df'][['ID', 'OG_Nr', 'OG_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
       'Species', 'Surname', 'First_names', 'Sex', 'ID_Number', 'Date_of_Birth', 'date_contracted', 'Date_dropped_out',
       'Reason_dropped_out', 'Address', 'OG_Organic_Status', 'OG_Organic_Status_from_Date', 'Fairtrade']]
all_farmes['OGInfo__OGMB_1_df'].columns = map(str.lower, all_farmes['OGInfo__OGMB_1_df'].columns)
all_farmes['OG_Info__OGOrg_1_df'] = all_farmes['OG_Info__OGOrg_1_df'][['ID', 'OG_Nr', 'OG_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
       'Species', 'Surname', 'First_names', 'Sex', 'ID_Number',
       'Date_of_Birth', 'Date_contracted', 'Date_dropped_out',
       'Reason_dropped_out', 'OG_Organic_Status', 'Address',
       'OG_Organic_Status_from_Date', 'Fairtrade','ward_nr']]
all_farmes['OG_Info__OGOrg_1_df'].columns = map(str.lower, all_farmes['OG_Info__OGOrg_1_df'].columns)
    
all_farmes['wc_info_bayoba_1_df'] = all_farmes['wc_info_bayoba_1_df'][['ID', 'WC_Nr', 'WC_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
       'Species', 'Surname', 'First_names', 'Sex', 'ID_Number', 'Date_contracted', 'Date_dropped_out',
       'Reason_dropped_out', 'Address', 'Organic_Status', 'Organic_Status_from_Date', 'Fairtrade', 'Date_of_Birth', 'ward_nr']]
all_farmes['wc_info_bayoba_1_df'].columns = map(str.lower, all_farmes['wc_info_bayoba_1_df'].columns)
    
all_farmes['wc_info__WCOrg_1_df'] = all_farmes['wc_info__WCOrg_1_df'][['ID', 'WC_Nr', 'WC_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
       'Species', 'Surname', 'First_names', 'Sex', 'ID_Number',
       'Date_contracted', 'Reason_dropped_out', 'Address', 'Organic_Status', 'Organic_Status_from_Date', 'Fairtrade', 'Date_dropped_out', 'ward_nr']]
all_farmes['wc_info__WCOrg_1_df'].columns = map(str.lower, all_farmes['wc_info__WCOrg_1_df'].columns)

all_farmes['OG_Info_reserve__OGOrg_1_df'] = all_farmes['OG_Info_reserve__OGOrg_1_df'][['ID', 'OG_Nr', 'OG_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
       'Species', 'Surname', 'First_names', 'Sex', 'ID_Number',
       'Date_of_Birth', 'Date_contracted', 'Date_dropped_out',
       'Reason_dropped_out', 'Address', 'OG_Organic_Status',
       'OG_Organic_Status_from_Date', 'Fairtrade', 'ward_nr']]
all_farmes['OG_Info_reserve__OGOrg_1_df'].columns = map(str.lower, all_farmes['OG_Info_reserve__OGOrg_1_df'].columns)

In [501]:
all_farmes['wc_info__WCOrg_1_df']

,id,wc_nr,wc_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,id_number,date_contracted,reason_dropped_out,address,organic_status,organic_status_from_date,fairtrade,date_dropped_out,ward_nr
0,4942,3962.0,HWWC,Matabeleland North,Hwange,6 Gondwa,Devils Claw,Moyo,Pios,male,None,2014-07-07,None,Secretariat Sch Vic Falls,Org,None,False,None,6.0
1,5608,3692.0,HWWC,Matabeleland North,Hwange,6 Gondwa,Devils Claw,Ncube,Mwayani,male,79-124391X79,2015-03-14,None,"Mironga School, Vic Falls",Org,None,False,None,6.0
2,10630,1773.0,HWWC,Matabeleland North,Hwange,3 Kachechete,Devils Claw,Ncube,Engel,female,08-161126N39,2012-10-06,None,"Bethesda Sch, Vic-Falls",Org,2017-11-11,False,21/11/2017,3.0
3,1763,1772.0,HWWC,Matabeleland North,Hwange,3 Kachechete,Devils Claw,Dube,Samson,Male,79-031011X79,2012-10-06,None,"Bethesda Sch, Vic-Falls",Org,2017-06-19,False,None,3.0
4,1766,1775.0,HWWC,Matabeleland North,Hwange,3 Kachechete,Devils Claw,Ngwenya,Joshua,Male,79-011290L79,2012-10-06,None,"Bethesda Sch, Vic-Falls",Org,2017-06-19,False,None,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,11146,1057.0,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu kola,Zaranyika,Vaina,female,None,None,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,29/01/21,21.0
561,11147,21040.0,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu kola,Chibawana,Violet,female,None,None,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,29/01/21,21.0
562,11148,2555.0,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu kola,Hofisi,Christine,female,None,None,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,None,False,29/01/21,21.0
563,11149,2066.0,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu Kola,Mudada,Marjorie,female,None,None,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,29/01/21,21.0
564,11150,1069.0,CMWC,Manicaland,Chimanimani Rusitu,21,Wild gotu kola,Nyamwazha,Martha,female,None,None,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,29/01/21,21.0

In [514]:
# Collecting Date of Birth
all_birthdates = {}

all_birthdates['wc_insp_2013__WCOrg_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_insp_2013__WCOrg"')
all_birthdates['wc_insp_2014__WCOrg_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_insp_2014__WCOrg"')
all_birthdates['wc_insp_2015__WCOrg_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_insp_2015__WCOrg"')
all_birthdates['wc_insp_2016__WCOrg_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_insp_2016__WCOrg"')
all_birthdates['wc_insp_2017__WCOrg_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_insp_2017__WCOrg"')

In [515]:
all_birthdates['wc_insp_2013__WCOrg_df'] = allbirthdates['wc_insp_2013__WCOrg_df'][['WC_Nr', 'Date_of_birth']]
all_birthdates['wc_insp_2014__WCOrg_df'] = allbirthdates['wc_insp_2014__WCOrg_df'][['WC_Nr', 'Date_of_birth']]
all_birthdates['wc_insp_2015__WCOrg_df'] = allbirthdates['wc_insp_2015__WCOrg_df'][['WC_Nr', 'Date_of_birth']]
all_birthdates['wc_insp_2016__WCOrg_df'] = allbirthdates['wc_insp_2016__WCOrg_df'][['WC_Nr', 'Date_of_birth']]
all_birthdates['wc_insp_2017__WCOrg_df'] = allbirthdates['wc_insp_2017__WCOrg_df'][['WC_Nr', 'Date_of_birth']]

In [516]:
all_birthdates['wc_insp_2013__WCOrg_df'].columns = map(str.lower, all_birthdates['wc_insp_2013__WCOrg_df'].columns)
all_birthdates['wc_insp_2014__WCOrg_df'].columns = map(str.lower, all_birthdates['wc_insp_2014__WCOrg_df'].columns)
all_birthdates['wc_insp_2015__WCOrg_df'].columns = map(str.lower, all_birthdates['wc_insp_2015__WCOrg_df'].columns)
all_birthdates['wc_insp_2016__WCOrg_df'].columns = map(str.lower, all_birthdates['wc_insp_2016__WCOrg_df'].columns)
all_birthdates['wc_insp_2017__WCOrg_df'].columns = map(str.lower, all_birthdates['wc_insp_2017__WCOrg_df'].columns)

In [517]:
all_birthdates_df = pd.concat(all_birthdates.values())

In [518]:
all_birthdates_df

     wc_nr            date_of_birth
0   1775.0  1955-10-05 00:00:00.000
1   2901.0                     None
2   2902.0  1995-09-16 00:00:00.000
3   2903.0  1933-01-01 00:00:00.000
4   2904.0  1932-09-03 00:00:00.000
..     ...                      ...
5   3965.0  1974-08-05 00:00:00.000
6   3699.0  1957-06-01 00:00:00.000
7   4143.0  1963-02-02 00:00:00.000
8   4144.0  1972-09-01 00:00:00.000
9   4145.0  1962-04-04 00:00:00.000

[5473 rows x 2 columns]

In [519]:
all_birthdates_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5473 entries, 0 to 9
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   wc_nr          5472 non-null   float64
 1   date_of_birth  341 non-null    object
dtypes: float64(1), object(1)
memory usage: 128.3+ KB

In [521]:
# Counting duplicated Wc_Nr to drop them

all_birthdates_df["wc_nr"].duplicated().value_counts()

False    3745
True     1728
Name: wc_nr, dtype: int64

In [522]:
all_birthdates_df = all_birthdates_df.drop_duplicates(subset="wc_nr")

In [523]:
all_birthdates_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3745 entries, 0 to 9
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   wc_nr          3744 non-null   float64
 1   date_of_birth  291 non-null    object
dtypes: float64(1), object(1)
memory usage: 87.8+ KB

In [524]:
all_birthdates_df["date_of_birth"].isnull().value_counts()

# Insgesamt 291 Geburtsdaten

True     3454
False     291
Name: date_of_birth, dtype: int64

In [525]:
len(list(set(all_birthdates_df["wc_nr"]) & set(all_farmes['wc_info__WCOrg_1_df'][['wc_nr']].squeeze())))

453

In [526]:
all_farmes['wc_info__WCOrg_1_df'] = pd.merge(all_farmes['wc_info__WCOrg_1_df'], all_birthdates_df, how="left", on="wc_nr")

In [527]:
all_farmes['wc_info__WCOrg_1_df']

,id,wc_nr,wc_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,id_number,date_contracted,reason_dropped_out,address,organic_status,organic_status_from_date,fairtrade,date_dropped_out,ward_nr,date_of_birth
0,4942,3962.0,HWWC,Matabeleland North,Hwange,6 Gondwa,Devils Claw,Moyo,Pios,male,None,2014-07-07,None,Secretariat Sch Vic Falls,Org,None,False,None,6.0,None
1,5608,3692.0,HWWC,Matabeleland North,Hwange,6 Gondwa,Devils Claw,Ncube,Mwayani,male,79-124391X79,2015-03-14,None,"Mironga School, Vic Falls",Org,None,False,None,6.0,None
2,10630,1773.0,HWWC,Matabeleland North,Hwange,3 Kachechete,Devils Claw,Ncube,Engel,female,08-161126N39,2012-10-06,None,"Bethesda Sch, Vic-Falls",Org,2017-11-11,False,21/11/2017,3.0,None
3,1763,1772.0,HWWC,Matabeleland North,Hwange,3 Kachechete,Devils Claw,Dube,Samson,Male,79-031011X79,2012-10-06,None,"Bethesda Sch, Vic-Falls",Org,2017-06-19,False,None,3.0,1957-10-02 00:00:00.000
4,1766,1775.0,HWWC,Matabeleland North,Hwange,3 Kachechete,Devils Claw,Ngwenya,Joshua,Male,79-011290L79,2012-10-06,None,"Bethesda Sch, Vic-Falls",Org,2017-06-19,False,None,3.0,1955-10-05 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,11146,1057.0,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu kola,Zaranyika,Vaina,female,None,None,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,29/01/21,21.0,None
561,11147,21040.0,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu kola,Chibawana,Violet,female,None,None,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,29/01/21,21.0,None
562,11148,2555.0,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu kola,Hofisi,Christine,female,None,None,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,None,False,29/01/21,21.0,None
563,11149,2066.0,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu Kola,Mudada,Marjorie,female,None,None,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,29/01/21,21.0,None
564,11150,1069.0,CMWC,Manicaland,Chimanimani Rusitu,21,Wild gotu kola,Nyamwazha,Martha,female,None,None,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,29/01/21,21.0,None

In [528]:
all_farmes['OG_Info_reserve__OGOrg_1_df']

,id,og_nr,og_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,id_number,date_of_birth,date_contracted,date_dropped_out,reason_dropped_out,address,og_organic_status,og_organic_status_from_date,fairtrade,ward_nr
0,110,3463.0,BNOG,Matabeleland North,Binga,5 Sinakoma,Rosella,Munenge,Vaina,female,06-007629F06,None,09/07/2013,None,None,Nsenga Primary School Box 46 Binga,Org,2016-10-25,True,5.0
1,151,4084.0,BNOG,Matabeleland North,Binga,5 Sinakoma,Rosella,Muleya,Belitha,female,06-020316W06,None,17/02/2014,None,None,Nsenga Primary School Box 46 Binga,Org,2014-02-17,True,5.0
2,152,4085.0,BNOG,Matabeleland North,Binga,5 Sinakoma,Rosella,Mutale,Mary,female,06-027990M06,None,17/02/2014,None,None,Nsenga Primary School Box 46 Binga,Org,2016-10-25,True,5.0
3,153,4088.0,BNOG,Matabeleland North,Binga,5 Sinakoma,Rosella,Mudende,Nolia,female,79-051975J41,None,17/02/2014,None,None,Nsenga Primary School Box 46 Binga,Org,2014-02-17,True,5.0
4,302,5156.0,BNOG,Matabeleland North,Binga,5 Sinakoma,Rosella,Muleya,Morine,female,06-035721Q06,None,17/08/2015,None,None,Manseme School Binga,Org,2015-11-17,True,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790,3546,20023.0,MUOG,Mashonaland Central,Mushumbi,3,"Rosella, Chilli, Paprika",Myundia,Thandiwe,female,71-041279Q71,None,01/02/2019,None,None,"ARDA Mushumbi, Box 210, Mbire",New,2019-02-01,False,3.0
791,3549,20026.0,MUOG,Mashonaland Central,Mushumbi,3,"Rosella, Chilli, Paprika",Nhete,Stella,female,71-115760N71,None,01/02/2019,None,None,"ARDA Mushumbi, Box 210, Mbire",New,2019-02-01,False,3.0
792,3550,20027.0,MUOG,Mashonaland Central,Mushumbi,3,"Rosella, Chilli, Paprika",Musiiwa,Admire,male,71-084273C71,None,01/02/2019,None,None,"ARDA Mushumbi, Box 210, Mbire",New,2019-02-01,False,3.0
793,3551,20028.0,MUOG,Mashonaland Central,Mushumbi,3,"Rosella, Chilli, Paprika",Masodzi,Norah,female,45-07842W$5,None,01/02/2019,None,None,"ARDA Mushumbi, Box 210, Mbire",New,2019-02-01,False,3.0
794,1861,14001.0,BNOG,Matabeleland North,Binga,11 Lubu,Rosella,Mwembe,Mutale,female,06-029597J06,1978-09-12,31/8/18,None,None,Lubu primary School P Bag 5729 Binga,Org,2018-08-31,False,11.0

In [530]:
all_farmes['OGInfo__OGMB_1_df'][['ward_nr']] = all_farmes['OGInfo__OGMB_1_df'][['ward_nr/name']]

In [531]:
all_farmes['OGInfo__OGMB_1_df'].shape

(8166, 20)

In [532]:
all_farmes['wc_info_bayoba_1_df'].shape

(10952, 20)

In [533]:
all_farmes['OG_Info_reserve__OGOrg_1_df'].shape

(795, 20)

In [534]:
all_farmes['wc_info__WCOrg_1_df'].shape

(565, 20)

In [535]:
all_farmes['OG_Info__OGOrg_1_df'].shape

(1403, 20)

In [537]:
all_farmes['OG_Info_reserve__OGOrg_1_df'][['id']].squeeze().is_unique

True

In [538]:
concated_farmers = pd.concat(all_farmes)

In [540]:
concated_farmers.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 21881 entries, ('OGInfo__OGMB_1_df', 0) to ('OG_Info_reserve__OGOrg_1_df', 794)
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           21881 non-null  int64
 1   og_nr                        10364 non-null  float64
 2   og_code                      10364 non-null  object
 3   production_unit              21881 non-null  object
 4   area                         21881 non-null  object
 5   ward_nr/name                 21461 non-null  object
 6   species                      21881 non-null  object
 7   surname                      21879 non-null  object
 8   first_names                  21877 non-null  object
 9   sex                          21881 non-null  object
 10  id_number                    19837 non-null  object
 11  date_of_birth                2883 non-null   object
 12  date_contracted              21871 non-null  object
 13  date_dropped_out             10063 non-null  object
 14  reason_dropped_out           8304 non-null   object
 15  address                      21397 non-null  object
 16  og_organic_status            10364 non-null  object
 17  og_organic_status_from_date  10364 non-null  object
 18  fairtrade                    21881 non-null  bool
 19  ward_nr                      21461 non-null  float64
 20  wc_nr                        11517 non-null  float64
 21  wc_code                      11517 non-null  object
 22  organic_status               11516 non-null  object
 23  organic_status_from_date     7414 non-null   object
dtypes: bool(1), float64(3), int64(1), object(19)
memory usage: 4.3+ MB

In [552]:
concated_farmers[concated_farmers['organic_status','organic_status_from_date'] not null]

SyntaxError: invalid syntax (914195062.py, line 1)

In [542]:
concated_farmers.duplicated().value_counts()

/var/folders/x5/v1d8l9v94679fhr8vd07ys9c0000gn/T/ipykernel_7180/627957838.py:1: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  concated_farmers.duplicated().value_counts()

False    21838
True        43
dtype: int64

In [544]:
concated_farmers[['og_nr']].squeeze().is_unique

False